<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

<div class="app-calendar">
  <mat-calendar [(selected)]="selectedDate" #picker class="app-calendar-datepicker" (selectedChange)="selectDate($event)">
  </mat-calendar>
</div>
<div *ngIf="selectedDate">
  <div *ngIf="completedTasks.length > 0; else noTasks">
    <h3 class="completed-tasks-header">Completed Tasks for {{ selectedDate | date:'mediumDate' }}</h3>
    <ul class="completed-tasks-list">
      <li *ngFor="let task of completedTasks" class="completed-task" (click)="openTaskDetails(task)">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-completion-date">
          Completed on: {{ task.completionDate | date:'MMM d' }}
        </span>
      </li>
    </ul>
  </div>
  <ng-template #noTasks>
    <p class="no-tasks-message">No tasks were completed on {{ selectedDate | date:'mediumDate' }}</p>
  </ng-template>
</div>
