<div>
  <h2>Habit Tracker</h2>
  <form>
    <label for="habitName">Habit Name:</label>
    <input type="text" id="habitName" [(ngModel)]="newHabit.name" name="habitName">
    <label for="isBadHabit">Is Bad Habit:</label>
    <input type="checkbox" id="isBadHabit" [(ngModel)]="newHabit.isBadHabit" name="isBadHabit">
    <button mat-raised-button color="primary" (click)="addHabit()">Add Habit</button>
  </form>
  <ul>
    <li *ngFor="let habit of habits">
      {{ habit.name }} - {{ habit.isBadHabit ? 'Bad Habit' : 'Good Habit' }}
      <button mat-button color="primary" (click)="openHabitDetails(habit)">Edit</button>
      <button mat-button color="warn" (click)="deleteHabit(habit)">Delete</button>
    </li>
  </ul>
</div>
