.task-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #000;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #ccc;
}

.task-title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #ffcc00;
  margin-bottom: 20px;
}

.task-form {
  margin-bottom: 20px;
}

.task-form .form-group {
  margin-bottom: 15px;
}

.task-form .btn-primary {
  background-color: #ffcc00;
  border-color: #ffcc00;
  color: #000;
}

.task-form .btn-primary:hover {
  background-color: #ff9933;
  border-color: #ff9933;
  color: #000;
}

.task-list .form-check {
  margin-bottom: 15px;
}

.task-list .list-group-item {
  margin-bottom: 10px;
}

.task-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-details h5 {
  font-size: 18px;
  font-weight: bold;
  color: #ffcc00;
}

.task-details .form-check-label {
  font-size: 14px;
  color: #fff;
}

.task-details .form-check-input:checked + .form-check-label {
  text-decoration: line-through;
  color: #666;
}

.task-list p {
  color: #ccc;
}

.task-list .btn-danger {
  background-color: #ff3300;
  border-color: #ff3300;
  color: #fff;
}

.task-list .btn-danger:hover {
  background-color: #cc0000;
  border-color: #cc0000;
  color: #fff;
}
