<div>
  <h2>Select a Time Slot</h2>
  <ul>
    <li *ngFor="let timeSlot of timeSlots" (click)="selectTime(timeSlot)" [class.selected]="selectedTime === timeSlot">
      {{ timeSlot }}
    </li>
  </ul>
  <button [disabled]="!selectedTime" (click)="saveTimeSlot()">Create Activity</button>
</div>

<!-- Display activities in a table -->
<table>
  <tr>
    <th>Time Slot</th>
    <th>Activity Name</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <td>{{ activity.startTime }}</td>
    <td>{{ activity.name }}</td>
  </tr>
</table>
