<div class="time-schedule-container">
  <div class="time-slots">
    <h2>Select a Start Time</h2>
    <ul class="time-slot-list">
      <li *ngFor="let timeSlot of timeSlots"
          [class.selected-time-slot]="newActivity.startTime === timeSlot"
          (click)="newActivity.startTime = timeSlot">
        {{ timeSlot }}
      </li>
    </ul>
  </div>
  <div class="activity-form">
    <h2>Create Activity</h2>
    <label for="activityName">Activity Name:</label>
    <input type="text" id="activityName" [(ngModel)]="newActivity.name" name="activityName">
    <label for="endTime">End Time:</label>
    <select id="endTime" [(ngModel)]="newActivity.endTime" name="endTime">
      <option *ngFor="let timeSlot of timeSlots" [value]="timeSlot">{{ timeSlot }}</option>
    </select>
    <button [disabled]="!newActivity.startTime || !newActivity.endTime || !newActivity.name" (click)="saveTimeSlot()">Create Activity</button>
  </div>
</div>

<!-- Display activities in a table -->
<table class="activity-table">
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Activity Name</th>
  </tr>
  <tr *ngFor="let activity of activities">
    <td>{{ activity.startTime }}</td>
    <td>{{ activity.endTime }}</td>
    <td>{{ activity.name }}</td>
  </tr>
</table>
